<!DOCTYPE html>
<html lang="es" dir="ltr">

{{> head}}

<body>
    
{{> encabezado sesion=true}}

   <div class="py-5 my-3">
<h1 class="text-alig-center py-5 mx-4 my-4  ">Lista de Presupuestos</h1>
</div>



<div id="containerpresu" class="container-fluid mx-0 row col-sm-12 aling-left">
  <table id="tabla" class="table table-ligt text-white">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha de Solicitud</th>
            <th scope="col">Fecha de Validez</th>
            <th scope="col">Ver Detalle</th>            
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
         

         
          {{#each presupuestos}}
              <tr>
                  <th>{{this.id}}</th>                  
                  <td><span class="fHandle">{{this.fecha_de_emision}}</span></td>
                  <td><span class="fHandle">{{this.fecha_de_validez}}</span></td>
                  <td><i onclick="detallesPresu('{{this.id}}','{{this.fecha_de_emision}}', '{{this.fecha_de_validez}}', '{{this.estado}}', '{{this.observaciones_cliente}}', '{{fecha_probable_de_entrega}}','{{ observaciones_admin}}', '{{precio_total}}')" class="fa-solid fa-magnifying-glass"></i></td>
                  <td>{{ this.estado}}</td>
                                   
              </tr>
          {{/each}}
        </tbody>
      </table>

  
</div>


<section class="row col-sm-12  mx-auto py-5">
<div class="col-sm-6 mx-auto">


<a type="button" id="btnenviar" class="btn btn-info mb-3 my-5  text-white" href="/cliente/presupuesto" >SALIR</a>
</div>

</section>


<!--Modal-->
<div class="modal fade" tabindex="-1" id="modalPresu">
  <div class="modal-dialog dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">DETALLES DE PRESUPUESTO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="modalBody" class="modal-body">
      

<div id="detalles" class="row col-sm-12 py-5 text-white " >
<p class="col-sm-4">Fecha de Emision: <span id="fechaEmision"></span></p>

<p class="col-sm-4 ">Fecha de Validez: <span id="fechaValidez"></span></p>

<p class="col-sm-4 ">Fecha de Entrega: <span id="fechaEntrega"></span></p>
</div>

<div id="productosPresu" class="text-white py-3" style="text-items: center;"  >

</div>

<p class="col-sm-12 text-right text-white" style="text-align: right;" >Total: $ <span id="total" class="text-white" ></span></p>
<p class="col-sm-12 text-white" style="text-align: left;" >Estado:  <span id="estado"></span></p>
<p class="col-sm-12 text-white" style="text-align: left;">Obsevaciones: <span id="observaciones"></span></p>


<p class="col-sm-12 text-white" style="text-align: left;">Obsevaciones por Yolidesings: <span id="observacionesyoli"></span></p>
        
      </div>
      <div class="modal-footer text-white">
        <button type="button" id="btnenviar" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>








{{>footer}}
 
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
     
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" 
      crossorigin="anonymous"></script>

</body>

</html>

<script>
//Dando formato a la fecha.
  $(document).ready(function () {   
    $('.fHandle').each(function(i, campo) {
        campo.textContent = new Date(campo.textContent).toLocaleDateString();
    }); 
  });   

function detallesPresu(id, fecha_de_emision, fecha_de_validez, estado, observaciones_cliente, fecha_probable_de_entrega, observaciones_admin, precio_total){
    $("#fechaEmision").text(new Date(fecha_de_emision).toLocaleDateString());
    $("#fechaValidez").text(new Date(fecha_de_validez).toLocaleDateString());
    $("#fechaEntrega").text(new Date(fecha_probable_de_entrega).toLocaleDateString());
    $("#observaciones").text(observaciones_cliente);
    $("#observacionesYoli").text(observaciones_admin);
    $("#estado").text(estado);
    $("#total").text(precio_total);

    

 
  axios.get(`/presupuestos/detalles/${id}`)
      .then((response) => {

          console.log(response);            
          let div = document.getElementById("productosPresu");
          div.innerHTML = ""; 
          response=response.data;
for(i=0; i<response.length; i++) { 

          div.innerHTML +=`<div class="col-sm-12"  >  
                <img  class=" imgModal aling-center"  src="/static/assets/img/${response[i].foto}"  alt="">
              </div> 
              <div class="col-sm-12 "   >
                      <h2>${response[i].articulo}</h2>
                      <p>Precio: $${response[i].precio}</p>
              </div>   
              <div class="col-sm-12" 
                <p id="cantidad" class="col-sm-6">Cantidad: <span>${response[i].cantidad}</span> </p>          
                  
                  
              </div>`;
};


$("#modalPresu").modal("show");

        }, (error) => {
          console.log(error);
          alert("Disculpe hubo un error")
        });
          

}


</script>